@{
    ViewBag.Title = "Marrasi Al Bahrain - Media";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner-->
<div class="main-slider">
    <div class="slider-wrapper media-listings-banner" id="main-slider">
        <ul class="slides">
            <li>
                <img src="@Url.Content("~/Common/img/media/media-listings-banner-desktop.jpg")" alt="" />
                <div class="banner-caption-wrapper">
                    <div class="banner-caption media-listing-page">
                        <div class="banner-caption-border">
                            <h3>
                                This an Article <span>Title</span>
                            </h3>
                            <p>
                                This is a short description of the section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae maximus augue. Sed fermentum arcu in risus pharetra, in interdum ligula iaculis.
                            </p>
                            <a href="@Url.Action("media-detail","FrontEnd")">
                                <img src="@Url.Content("~/Common/img/read-more.png")" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="@Url.Content("~/Common/img/media/media-listings-banner-desktop.jpg")" alt="" />
                <div class="banner-caption-wrapper">
                    <div class="banner-caption media-listing-page">
                        <div class="banner-caption-border">
                            <h3>
                                This an Article <span>Title</span>
                            </h3>
                            <p>
                                This is a short description of the section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae maximus augue. Sed fermentum arcu in risus pharetra, in interdum ligula iaculis.
                            </p>
                            <a href="@Url.Action("media-detail","FrontEnd")">
                                <img src="@Url.Content("~/Common/img/read-more.png")" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--banner-->
@Html.Partial("_SocialWidget")

<!--main-->
<section>
    <article class="desktop-image">
        <div class="media-listing-tile-type-1">
            <div class="property-specs-copy-right">
                <h3>
                    Article <span>Title</span>
                </h3>
                <p>
                    This is a short description of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae maximus augue. Sed fermentum arcu inrisus pharetra, in interdum ligula iaculis.
                </p>
                <a href="@Url.Action("media-detail","FrontEnd")">
                    <img src="@Url.Content("~/Common/img/read-more.png")" alt="" />
                </a>
            </div>
        </div>
        <div class="tile-type-1 tile-type-1-left">
            <img src="@Url.Content("~/Common/img/aprtment-type-tile.jpg")" alt="" />
        </div>
        <div class="tile-type-1">
            <img src="@Url.Content("~/Common/img/villa-type-tile.jpg")" alt="" />
        </div>
        <div class="media-listing-tile-type-2">
            <div class="property-specs-copy-left">
                <h3>
                    Article <span>Title</span>
                </h3>
                <p>
                    This is a short description of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae maximus augue. Sed fermentum arcu inrisus pharetra, in interdum ligula iaculis.
                </p>
                <a href="@Url.Action("media-detail","FrontEnd")">
                    <img src="@Url.Content("~/Common/img/read-more.png")" alt="" />
                </a>
            </div>
        </div>
    </article>
    <article class="mobile-image">
        <div class="media-listing-tile-type-1">
            <div class="property-specs-copy-right">
                <h3>
                    Article <span>Title</span>
                </h3>
                <p>
                    This is a short description of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae maximus augue. Sed fermentum arcu inrisus pharetra, in interdum ligula iaculis.
                </p>
                <a href="@Url.Action("media-detail","FrontEnd")">
                    <img src="@Url.Content("~/Common/img/read-more.png")" alt="" />
                </a>
            </div>
        </div>
        <div class="tile-type-1 tile-type-1-left">
            <img src="@Url.Content("~/Common/img/aprtment-type-tile.jpg")" alt="" />
        </div>
        <div class="media-listing-tile-type-2">
            <div class="property-specs-copy-left">
                <h3>
                    Article <span>Title</span>
                </h3>
                <p>
                    This is a short description of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae maximus augue. Sed fermentum arcu inrisus pharetra, in interdum ligula iaculis.
                </p>
                <a href="@Url.Action("media-detail","FrontEnd")">
                    <img src="@Url.Content("~/Common/img/read-more.png")" alt="" />
                </a>
            </div>
        </div>
        <div class="tile-type-1">
            <img src="@Url.Content("~/Common/img/villa-type-tile.jpg")" alt="" />
        </div>
    </article>
</section>

<section>
    <article class="desktop-image">
        <div class="media-listing-tile-type-1">
            <div class="property-specs-copy-right">
                <h3>
                    Article <span>Title</span>
                </h3>
                <p>
                    This is a short description of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae maximus augue. Sed fermentum arcu inrisus pharetra, in interdum ligula iaculis.
                </p>
                <a href="@Url.Action("media-detail","FrontEnd")">
                    <img src="@Url.Content("~/Common/img/read-more.png")" alt="" />
                </a>
            </div>
        </div>
        <div class="tile-type-1 tile-type-1-left">
            <img src="@Url.Content("~/Common/img/aprtment-type-tile.jpg")" alt="" />
        </div>
        <div class="tile-type-1">
            <img src="@Url.Content("~/Common/img/villa-type-tile.jpg")" alt="" />
        </div>
        <div class="media-listing-tile-type-2">
            <div class="property-specs-copy-left">
                <h3>
                    Article <span>Title</span>
                </h3>
                <p>
                    This is a short description of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae maximus augue. Sed fermentum arcu inrisus pharetra, in interdum ligula iaculis.
                </p>
                <a href="@Url.Action("media-detail","FrontEnd")">
                    <img src="@Url.Content("~/Common/img/read-more.png")" alt="" />
                </a>
            </div>
        </div>
    </article>
    <article class="mobile-image">
        <div class="media-listing-tile-type-1">
            <div class="property-specs-copy-right">
                <h3>
                    Article <span>Title</span>
                </h3>
                <p>
                    This is a short description of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae maximus augue. Sed fermentum arcu inrisus pharetra, in interdum ligula iaculis.
                </p>
                <a href="@Url.Action("media-detail","FrontEnd")">
                    <img src="@Url.Content("~/Common/img/read-more.png")" alt="" />
                </a>
            </div>
        </div>
        <div class="tile-type-1 tile-type-1-left">
            <img src="@Url.Content("~/Common/img/aprtment-type-tile.jpg")" alt="" />
        </div>
        <div class="media-listing-tile-type-2">
            <div class="property-specs-copy-left">
                <h3>
                    Article <span>Title</span>
                </h3>
                <p>
                    This is a short description of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae maximus augue. Sed fermentum arcu inrisus pharetra, in interdum ligula iaculis.
                </p>
                <a href="@Url.Action("media-detail","FrontEnd")">
                    <img src="@Url.Content("~/Common/img/read-more.png")" alt="" />
                </a>
            </div>
        </div>
        <div class="tile-type-1">
            <img src="@Url.Content("~/Common/img/villa-type-tile.jpg")" alt="" />
        </div>
    </article>
</section>

<section>
    <article class="desktop-image">
        <div class="media-listing-tile-type-1">
            <div class="property-specs-copy-right">
                <h3>
                    Article <span>Title</span>
                </h3>
                <p>
                    This is a short description of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae maximus augue. Sed fermentum arcu inrisus pharetra, in interdum ligula iaculis.
                </p>
                <a href="@Url.Action("media-detail","FrontEnd")">
                    <img src="@Url.Content("~/Common/img/read-more.png")" alt="" />
                </a>
            </div>
        </div>
        <div class="tile-type-1 tile-type-1-left">
            <img src="@Url.Content("~/Common/img/aprtment-type-tile.jpg")" alt="" />
        </div>
        <div class="tile-type-1">
            <img src="@Url.Content("~/Common/img/villa-type-tile.jpg")" alt="" />
        </div>
        <div class="media-listing-tile-type-2">
            <div class="property-specs-copy-left">
                <h3>
                    Article <span>Title</span>
                </h3>
                <p>
                    This is a short description of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae maximus augue. Sed fermentum arcu inrisus pharetra, in interdum ligula iaculis.
                </p>
                <a href="@Url.Action("media-detail","FrontEnd")">
                    <img src="@Url.Content("~/Common/img/read-more.png")" alt="" />
                </a>
            </div>
        </div>
    </article>
    <article class="mobile-image">
        <div class="media-listing-tile-type-1">
            <div class="property-specs-copy-right">
                <h3>
                    Article <span>Title</span>
                </h3>
                <p>
                    This is a short description of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae maximus augue. Sed fermentum arcu inrisus pharetra, in interdum ligula iaculis.
                </p>
                <a href="@Url.Action("media-detail","FrontEnd")">
                    <img src="@Url.Content("~/Common/img/read-more.png")" alt="" />
                </a>
            </div>
        </div>
        <div class="tile-type-1 tile-type-1-left">
            <img src="@Url.Content("~/Common/img/aprtment-type-tile.jpg")" alt="" />
        </div>
        <div class="media-listing-tile-type-2">
            <div class="property-specs-copy-left">
                <h3>
                    Article <span>Title</span>
                </h3>
                <p>
                    This is a short description of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae maximus augue. Sed fermentum arcu inrisus pharetra, in interdum ligula iaculis.
                </p>
                <a href="@Url.Action("media-detail","FrontEnd")">
                    <img src="@Url.Content("~/Common/img/read-more.png")" alt="" />
                </a>
            </div>
        </div>
        <div class="tile-type-1">
            <img src="@Url.Content("~/Common/img/villa-type-tile.jpg")" alt="" />
        </div>
    </article>
    <div class="pagination-wrapper">
        <ul>
            <li class="next"><a href="javascript:void(0)"><</a></li>
            <li><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li class="previous"><a href="javascript:void(0)">></a></li>
        </ul>
    </div>
</section>
<!--main--> 