@{
    ViewBag.Title = Resources.Master.MarassiAlBahrain.RemoveHtmlTags().ToTitleCase() + "-" + Resources.Master.TermsAndConditionHeading.RemoveHtmlTags().ToTitleCase();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--banner-->
<div class="banner-wrapper">
    <img src="@Url.Content("~/Common/img/contact-banner-desktop.jpg")" alt="" />
    <div class="banner-caption-wrapper">
        @*<div class="banner-caption contact-page">
            <div class="banner-caption-border">
                <h3>
                    @Html.Raw(Resources.Master.te)
                </h3>
                <p>
                    @Html.Raw(Resources.Master.ContactUsDescription)
                </p>
            </div>
        </div>*@
    </div>
</div>
<!--banner-->
@Html.Partial("_SocialWidget")

<!--main-->
<section>
    <div class="content-wrapper">
        @Html.Raw(Resources.Master.TermsAndConditionHeading)

        @Html.Raw(Resources.Master.TermsAndConditionDescription)

    </div>
</section>
<section>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
        var myCenter = new google.maps.LatLng(26.304044, 50.644462);

        function initialize() {
            var mapProp = {
                center: myCenter,
                zoom: 10,
                minZoom: 2,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("map-canvas"), mapProp);

            var marker = new google.maps.Marker({
                position: myCenter,
            });

            marker.setMap(map);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div id="map-canvas"></div>
</section>
<!--main-->